.card {
  width: 60vw;
  height: 80vh;
  position: relative;
  top: 100px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 10% 40% 20%;
}

.imageDiv img {
  width: 30%;
  height: 80%;
}
.textArea textarea {
  width: 80%;
  height: 70%;
  text-align: start;
  border: 0px solid white;
  background-color: rgb(228, 230, 231);
  border-radius: 7px;
}

.url input{
    width: 70%;
    border: 0px solid white;
    background-color: rgb(228, 230, 231);
    padding: 4px;
    border-radius: 7px;
}
.button button{
  
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      
}