

.chatMain{
   
   overflow-y: scroll;
     position: fixed;
    bottom: 33px;
    left: 15px;
    padding: 2px;
    border: 1px solid black;
    width: 15vw;
   height: 270px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto;
    
    row-gap: 2px; 
}

.chatMain1 {
    background-color: white;
    height: fit-content;
    display: grid;
   
    height: fit-content;
    grid-template-columns: auto;
    row-gap: 2px;
}





