.card {
  width: 70vw;
  height: 92vh;
  background-color: azure;
  margin: 0 auto;
  position: relative;
  top: 8vh;
  display: grid;
  grid-template-columns: auto;
  row-gap: 2px;
}

.friends {
  position: fixed;
  top: 8vh;
  left: 2;
  width: 20vw;

  height: 100vh;

  background-color: azure;
  display: inline-grid;
  align-items: flex-start;
  grid-template-columns: auto;

  overflow-y: scroll;
  row-gap: 0px;

  border-radius: 5px;
}

.card-item {
  width: 100%;
  height: 65px;
  text-align: center;
}
.card-itemh {
  width: 100%;
  height: 30px;
  height: fit-content;
  text-align: center;
}
.card-item button {
  background-color: azure;
  width: 100%;
  height: 8.5vh;
  text-align: center;
  font-size: 15px;
  font-style: inherit;
  font-family: "Courier New", Courier, monospace;
  border: hidden;
}
.card-item button h3 {
  font-weight: 550;
  float: inline-start;
  position: relative;
  top: 5px;
}
.card-itemh h2 {
  position: relative;
  color: rgba(112, 109, 109, 0.918);
}
.card-item button:hover {
  background-color: rgba(230, 233, 235, 0.925);
  color: rgb(20, 19, 19);
  cursor: pointer;
}

.img {
  width: 20%;
  height: 85%;
  border-radius: 50px;
  float: left;
  position: relative;
  left: 2px;
}

.chat {
  width: 50vw;

  background-color: rgb(253, 250, 250);
  position: relative;
  left: 20vw;
}

.sendDiv {
  position: fixed;
  bottom: 1px;
  left: 35vw;
  z-index: 2;
  width: 50vw;
  float: left;

  display: grid;
  background-color: #777;
  grid-template-columns: 70% 30%;
}

.sendDiv input {
  font-size: 13px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  height: 5vh;
  padding: 10px 1px;
  background-color: rgb(217, 221, 221);
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sendDiv button {
  width: 100%;
  border: none;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.chatElement {
  width: 49vw;
  overflow-y: scroll;

  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 18vh;
  display: grid;

  height: 75vh;

  grid-template-columns: auto;

  row-gap: 2px;
}
.chatElement1 {
  background-color: white;
  height: fit-content;
  display: grid;

  grid-template-columns: auto;
  row-gap: 2px;
}
