.navBar{
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    overflow: hidden;
    height: 8vh;
    background-color: #333;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
  }
  @media (min-heigth : 700px){
    .navBar{
      height: 20%;
    }
  }
  li {
    height: 100%;
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    height: 100%;
    border: 1px solid rgb(68, 68, 68);
  }
  
  li a:hover {
    background-color: #111;
  }

  .active{
    background-color: rgb(65, 80, 94);
  }

  .img{
    float: right;
    height: 100%;
    border-radius: 40px;
    display: inline;
    opacity:1;
    filter:alpha(opacity=100); 
  }

  .img:hover{
  
    opacity:0.8;
  filter:alpha(opacity=70); 
  }

  .navBar p{
    position: fixed;
    top: 2vh;
    left: 4vw;
    color: white;
    font-weight: 400;
    
    display: inline;
  }

.searchBar{
 
  background: #fff;
    width: 500px;
  float: left;
  height: fit-content;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);  
 
}
 .logout{
  float: left;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_logOut-ltr.svg/1200px-OOjs_UI_icon_logOut-ltr.svg.png");
 }
 .logout img{
  height: 70%;
  position: relative;
  top: 8px;
  left: 5px;
  display: inline;
  opacity:0.7;
  filter:alpha(opacity=70); 
  cursor: pointer;
 }

 .logout :hover{
  opacity:1.5;
  filter:alpha(opacity=150); 
 }