.card{
    background: rgb(248, 246, 246);
    width: 30%;
    height: 10%;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.137);
    padding: 20px;
    position: relative;
    top: 55px;
  
}

.image{
    width: 10vw;
    height: 18vh;
    border-radius: 100%;
}
.cardDiv{
    align-self: center;
    width: fit-content;
    background: rgb(255, 252, 252);
    padding: 3px;
    width: 40%;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(173, 172, 172);
}

.cardDiv p{
    font-size: 15px;
}

.button{
    align-self: center;
    width: 50%;
    background-color: #36ad36;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover{
    background-color: #155f15;
}


@media (max-width: 1000px){
    .cardDiv{
        width: 60%;
        
    }
    .cardDiv p{
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .cardDiv p{
        font-size: 10px;
    }
    .cardDiv{
        width: 80%;
    }
    .image{
        width: 50%;
    }
    .h2{
        font-size: 14px;
    }    
}